/* =========================================================== */
/* ==================== ÉLÉMENTS GÉNÉRAUX ==================== */
/* =========================================================== */
html {
  height: 100%;
}

body{
  padding-top: 75px;
  height: 100%;
  background-color: rgb(245,245,245);
}

/* Spécifique à la page d'accueil */
body[id="homepage"] {
  background: url("../src/img/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  border-radius: 0px;
  color: rgb(120,120,120);
  text-transform: uppercase;
}

.img-center{
  display:block;
  margin:auto;
}

/* =========================================================== */
/* ========================= NAVBAR ========================== */
/* =========================================================== */
.navbar-inverse {
  background-color: rgb(40,40,40);
  border-color: transparent;
}
.navbar-header img {
  display: inline-block;
  width: 300px;
  margin : 10px;
}

nav ul {
  position: relative;
  top: 25px;
  left : 50px;
}

.navbar-inverse .navbar-nav>li>a {
  color : white;
  font-size: 1.3em;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color : #e94936;
}

/* Search bar */
#search-bar {
  position: relative;
  top: 24px;
}

/* =========================================================== */
/* ========= MAIN - CONTENU PRINCIPAL DE CHAQUE PAGE ========= */
/* =========================================================== */
main {
  padding: 40px 15px;
  text-align: center;
}

main #homepageButton {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

main #homepageButton:hover {
  background-color: rgba(233, 73, 55, 0.8);
  color: white;
}

/* Filtres */
.selection{
  margin-top: 30px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
  color: black;
}

/* Musique */
#musique .row{
  margin: 40px auto 20px auto; 
}

#musique .row img{
  margin: 5px;
  width:150px;
}

#musique .row{
  width: 1100px;
  margin-left: auto; 
  margin-right: auto;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#musique .row a{
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


.row div p{
  text-align: center;
}

.lighten img {
    display: block;
    
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.lighten:hover img {
    opacity: 0.7;
            
}

.row div a{
  color:black;
}

.row div a:hover{
  text-decoration: none;
}

/* Fiche produit */
.container main .fiche h1{
  text-align: center;
}

.container main .fiche{
  text-align: left;
}

.container main .fiche ul li{
  list-style: none;
}
.container main .fiche ul{
  padding-left: 0px;
}

/* =========================================================== */
/* ========================= FOOTER ========================== */
/* =========================================================== */
footer {
  position: absolute;
  bottom: 0px;
}
